.formLogin {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
}

.formItem > div {
  width: 100%;
}

.formItem > div > div > label {
  color: white !important;
}

.formItem > div > div > div > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.spanSwitch {
  color: white;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;

  margin: 0 0.75rem;
}

.formItemButton > div > div > div > div {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  margin-top: 20px;
}

.inputLogin {
  width: 100%;
}

.buttonLogin {
  background: linear-gradient(#4E0189 0%, #4C4DDC 30%);
  background-size: 100% 200%;

  width: 80%;
  height: 40px;
  font-size: 1.2rem;
  border-radius: 10px;
  transition: all 300ms ease-out;

  margin-bottom: 1rem;
}

.buttonLogin:hover {
  background-position: 0% 100%;
}

.spanRegister {
  margin-top: 0.5rem;
  color: rgb(32, 178, 170);
  cursor: pointer;
}

.spanRegister:hover {
  color: rgb(50, 220, 220);
}